.uml-generator-header-view { height: 28px !important; }
.uml-generator-header-view .uml-generate-button { margin-left: 5px; }
.uml-generator-image { overflow: auto; }
.uml-generator-image img { padding: 10px; position: absolute; }
.uml-generator-drop-target, .uml-generator-loader-view { position: absolute; background: #000; opacity: 0.6; z-index: 500; }
.uml-question-mark { position: relative; top: -25px; left: -253px; width: 20px; height: 20px; background: url(https://koding.com/images/_kd.sprites.png) -258px -437px; cursor: pointer; }
.uml-generate-button, .uml-samples-button, .uml-question-mark { float: right; }
.uml-reset-button, .uml-save-code-button { margin-right: 5px; }
.uml-generator-header-view .chevron { right: -11px !important; }
.uml-generator-header-view .chevron-separator { right: 9px !important; height: 24px; }
.uml-generator .kdloader { position: absolute; top: 50%; left: 50%; margin: -15px 0 0 15px; z-index: 501; }
.uml-generator-about .kdmodal-content { padding: 20px !important; }
.uml-generator-about h3 { font-size: 14px; font-weight: bold; margin-bottom: 15px; }
.uml-generator-about p { margin-bottom: 10px; line-height: 14px; }